.note-remove-icon, .note button {
  display: inline-block;
}

button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.types {
  width: 50%;
}

.notes {
  width: 50%;
}

.notes-block, .note-type {
  width: 100%;
}

.list-group-item {
  width: 100%;
  border-radius: 0;
}

.notes .list-group-item {
  width: 60%;
  padding: 5px;
}

.icon {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.add-note-icon {
  background:url(plus.svg) no-repeat top left;
}

.save-icon {
  background:url(save.svg) no-repeat top left;
}

.add-inside-note-icon {
  background:url(more.svg) no-repeat top left;
}

h3 {
  text-align: center;
}

.remove {
  display: inline-block;
}

.remove-btn {
  padding: 5px 8px 5px 8px;
}

.insideNote {
  position: relative;
}

.remove-inside-button {
  position: absolute;
  right: 0;
  top: 0;
}

.notes-section {
  min-width: 200px;
}

.fr-emoticon.fr-deletable.fr-emoticon-img {
  display: block;
}

.btn-default {
  border-radius: 5px;
}

.save-button {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.save-button:after {
  content: "";
  background: rgb(44, 220, 239);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.save-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


