<!-- <ngx-wig [content]="text1"></ngx-wig> -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-2 pr-0 notes-section">
      <input class="form-control-lg mb-2" value="{{notesHeader}}" type="text" #nameInputField [attr.disabled]="!selectedNote ? '' : null"/>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="addNote()" type="button" class="btn btn-default ml-2" [disabled]="selectedSection == null">
          <span class="icon add-note-icon" aria-hidden="true"></span>
        </button>
        <button (click)="saveNote()" type="button" class="btn btn-default ml-1 save-button" [disabled]="selectedNote == null">
          <span class="icon save-icon" aria-hidden="true"></span>
        </button>
        <button (click)="openModal()" type="button" class="btn btn-default ml-1" [disabled]="selectedNote == null">
          <span class="icon add-inside-note-icon" aria-hidden="true"></span>
        </button>
      </div>
      <div class="row notes-block mt-1">
        <div class="col- types">
          <div *ngFor="let noteSection of notesSections" class="note-type">
            <button [contextMenu]="basicMenu" [contextMenuSubject]="noteSection" [ngClass]="{'active': noteSection == selectedSection}" (click)="selectNoteSection(noteSection)" type="button" class="list-group-item">
              {{noteSection.name}}
            </button>
          </div>
          <button (click)="ngxSmartModalService.getModal('typeModal').open()" class="ml-4 mt-1 btn btn-default">Add type</button>
        </div>
        <div class="col- notes">
          <div *ngIf="selectedSection && selectedSection.notes" class="list-group">
            <div class="note" *ngFor="let note of selectedSection.notes" >
              <button [ngClass]="{'active': compareSelectedNoteWithCurrentNote(note)}" (click)="selectNote(note)" type="button" class="list-group-item">
                {{note.name}}
              </button>
              <div class="remove">
                <button (click)="removeNote(note)" class="btn remove-btn"><i class="fa fa-close"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 pl-0 note-body">
      <div [froalaEditor] [(froalaModel)]="editorContent"></div>
      <div *ngIf="selectedNote && selectedNote.notesInside" class="w-50 mt-3 ml-3">
        <div *ngFor="let insideNote of selectedNote.notesInside" class="card insideNote mb-2">
          <div class="card-body">
            <h5 class="card-title">{{insideNote.name}}</h5>
            <p [innerHTML]="insideNote.note | safeHtml" class="card-text"></p>
            <p class="card-text"><small class="text-muted">{{insideNote.type.toLowerCase()}}</small></p>
            <button (click)="removeInsideNote(insideNote)" class="btn remove-inside-button"><i class="fa fa-close"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
  <h1>Notes</h1>
  <p>Select notes</p>
  <!-- <div *ngFor="let noteSection of notesSections" class="mb-2">
    <ng-multiselect-dropdown
      [placeholder]="noteSection.name"
      [data]="getNotesFromNoteSection(noteSection)"
      [settings]="dropdownSettings"
      [(ngModel)]="noteSection.selectedItems"
    >
    </ng-multiselect-dropdown>
  </div> -->
  <!-- <app-treeview [treeFields]="treeFields"></app-treeview> -->
  <ejs-treeview id="myTree"
              [fields]="treeFields"
              [showCheckBox]="true"
              [allowMultiSelection]="true"
              (nodeChecked)="nodeChecked($event)"
  >
  </ejs-treeview>
  <button (click)="addIntoCurrentNote()">Select</button>
  <button (click)="myModal.close()" class="ml-2">Close</button>
</ngx-smart-modal>

<ngx-smart-modal #typeModal identifier="typeModal">
  <h1>Add a note type</h1>
  <p>Add a note type</p>
  <input class="form-control-lg mb-2" placeholder="type" type="text" #typeInputField (input)="onSearchChange($event.target.value)"><br>
  <div *ngIf="isExists" class="exists-error">Type exists</div>
  <button [disabled]="isExists || isEmpty" class="btn btn-default" (click)="addType()">Add type</button>
  <button (click)="typeModal.close()" class="ml-2 btn btn-default">Close</button>
</ngx-smart-modal>

<ngx-smart-modal #changeTypeModal identifier="changeTypeModal">
  <h1>Rename the type</h1>
  <p>Rename the type</p>
  <input *ngIf="selectedSection" class="form-control-lg mb-2" value="{{selectedSection.name}}" type="text" #changeTypeInputField (input)="onSearchChange($event.target.value)"><br>
  <div *ngIf="isExists" class="exists-error">Type exists</div>
  <button [disabled]="isExists || isEmpty" class="btn btn-default" (click)="changeSectionName()">Rename</button>
  <button (click)="changeTypeModal.close()" class="ml-2 btn btn-default">Close</button>
</ngx-smart-modal>

<context-menu>
  <ng-template contextMenuItem (execute)="openSectionModal($event.item)">
    <span class="ml-2 context-menu-link text-secondary">Rename</span>
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="deleteSection($event.item)">
    <span class="ml-2 context-menu-link text-secondary">Remove</span>
  </ng-template>
</context-menu>

<!-- <ejs-treeview id="myTree"
              [fields]="treeFields"
              [showCheckBox]="true"
              [allowMultiSelection]="true"
              (nodeChecked)="nodeChecked($event)"
>
</ejs-treeview> -->


